<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head") %>
</head>
<body>
    <header class="pb-5">
      <%- include ("../partials/nav") %>
    </header>

    <main class="pt-5 pb-5" role="main">
      <%- include ("../partials/main") %>
    </main>

    <footer class="pt-5">
      <%- include ("../partials/footer") %>
    </footer>

    <%- include ("../partials/scripts") %>
</body>
</html>
